/* work sans font import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
    margin-top: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin: 20px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
    
}
/* banner styles */
.banner_content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
}
.banner_title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner_description{
    color: #727272;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}


/* main section styles */
main{
    max-width: 1440px;
    margin: 30px 200px;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
    padding-left: 30px;
}
.teams-img-container img{
    height: 200px;
    width: 200px;
}
.teams-content{
    padding-left: 50px;
    padding-right: 50px;

}
.teams-description{
    color: #727272;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 26px;
}
.quick-list{
    color: #727272;
    font-size: 2rem;
    font-weight: 500;
}    
.of-our{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 2rem;
    font-weight: 700;
}

/* features section style */
    .features-section{

        display: flex;
        margin-top: 100px;
        gap: 80px;
    }

    .features-title{
        color: #131313;
    font-size: 2rempx;
    font-weight: 700;
    }
    .features-card1{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    }

    .features-card2{
    color:#131313;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
 }
 .features-card3{
    color:#131313;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
 }
 
 .features-card4{
    color:#131313;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
 }
 
 .para-des{
    color: #727272;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
 }

/* facts section styles */
.facts{
    color:  #131313;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 40px;
    margin-top: 100px;
    }

.facts-description{
    color: #727272;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 26px; 
    margin-left: 40px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;
}
.facts-card-container .card-stats{
    font-weight: 600;
    color:#424242;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.facts-card-container .card-title{
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 2px;
}

/* sponsor section styles */
.sponsor-section{
    text-align: center;
    margin-top: 100px;
}
.sponsor-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}
.sponsor-description{
        color: #727272;
    text-align: center;
    font-size:  0.7rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    }

.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.sponsor-img-container img{
    width: 100px;
}

/* footer styles */

.footer{
    color: #424242;
    text-align: center;
    font-size: 1.25;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 230px;
    margin-right: 230px;
    border-radius: 8px;
    background: #FFF4E7;
}

/* responsive media queries */
/* for mobile devices */
@media screen and (max-width: 576px) {
    body{
        margin: auto;
    }
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-card-container{
        flex-direction: column;
    }
    main{
        max-width: 300px;
        margin: 0 0;
    }
    .teams-content,
    .facts-card-container{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 40px;
    }
    .facts-card-container{
        gap: 10px;
    }
    .facts, .facts-description{
        margin-left: 60px;
    }

    .teams-title,
    .teams-description{
        margin-left: 20px;
    }
    .btn-primary{
        margin-left: 20px;
    }
    
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
        margin-top: 20px;
        padding-left: 30px;
    }
    .sponsor-title,
    .sponsor-description{
        margin: 50px;
        padding-left: 40px;
    }
    .sponsor-img-container img{
        width: 100px;
    }
    .sponsor-img-container{
        gap: 40px;
        flex-direction: column;
        margin-left: 50px;
        align-items: center;
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;

    }

}
/* for tablet or medium devices */
@media screen and (min-width: 577px) and (max-width:960px) {
    header{
        padding: 230px;
    }
    nav,
    .teams-container,
    .sponsor-img-container
        {
        flex-direction: column;
        
    }
    .fact-section{
        margin-left: 50px;
    }
    .facts-card-container{
         margin-left: 0;
         gap: 10px;
         display: flex;
         flex-direction: column;
    }
    .sponsor-img-container{
        gap: 50px;
    }
    
    
    
}